/* setting the header of the calendar */
#month {
    margin-top: 1%;
}

.arrow {
    font-size: 20px;
}

#monthyear {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

.textcenter {
    text-align: center;
}

/* setting the layout of the calendar */
#calendardiv {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#calendartable {
    table-layout: fixed;
    width: 100%;
}

.custom-td {
    font-size: 15px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    height: 100px;
}

.custom-td:hover {
    background-color: lightgray;
}

.table-active {
    font-weight: 700;
}

.notCurrentMonth {
    color: grey;
}

#leftArrow img {
    width:30px;
}

#rightArrow img {
    width: 30px;
}


/* style the scheduler */
.ui-datepicker {
    margin-left: auto;
    margin-right: auto;
    width: 40rem;
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.ui-datepicker-header {
    background-color: white;
    border-style: none;
}

.ui-datepicker-title {
    font-size: 25px;
}

.ui-datepicker-prev {
    font-size: 30px;
    align-items: center;
}

.ui-datepicker-next {
    font-size: 30px;
    align-items: center;
}
/* these two classes control all table cells */
.ui-state-default {
    height: 4rem;
    background-color: white;
}

.ui-datepicker td span, .ui-datepicker td a {
    text-align: left;
    background-color: white;
}

@media screen and (max-width: 375px) {
    .ui-datepicker {
        width: auto;
    }

    .ui-state-default {
        height: 2rem;
    }

    .ui-datepicker td span, .ui-datepicker td a {
        text-align: center;
    }
}
/* check this webpage for helpful resources: https://api.jqueryui.com/datepicker/#option-autoSize 
section Theming */
