#dayPlannerTitle {
  text-align: center;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

#planner {
  margin-bottom: 3rem;
}

.gray {
  background-color: rgb(235, 235, 235);
}

.lightgray {
  background-color: lightgray;
}

.green {
  background-color: lightgreen;
}

#test .form-control {
  background-color: lightgray;
}
