.container .h2 {
    margin-top: 20px;
    margin-bottom: 20px;
}

#result {
    width: 82%;
    margin-left: auto;
    margin-right: auto;
}

/* hide for future use */
#footer {
    display: none;
}

@media screen and (max-width: 468px) {
    #result {
        width: 90%;
    }
}

